@charset "UTF-8";
/* Style Reseting */
body {
	font-family: Arial,"MS Trebuchet",sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	background: #FFF;
}
a {
	color: #CC6600;
	text-decoration: none;
}
/* Layout */
#page {
	background: #FFF no-repeat; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#FFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#FFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #ccc,  #FFF); /* for firefox 3.6+ */	
}
#wrap {
	overflow: auto;
	margin: 0 15px;
}
h1 {
	font-family: Georgia,"Times New Roman",Times,serif;
	display: block;
	clear: left;
}
#left-column {
	width: 169px;
	height: auto;
	float: left;
}
#right-column {
	clear: none;
	overflow: auto;
}
#art-pubdata {
	margin: 0 0 0 15px;
	border-bottom: 1px dotted #666666;
	padding-bottom: 10px;
}
.art-actions {
	margin: 5px 0;
	padding: 0;
}
#article {
	display: inline-block;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 15px;
}
#pic-zoom {
	margin: 5px 0;
}
/* Navigation */
#breadcrumbs {
	display: block;
	position: relative;
	left: -10px;
	list-style-type: none;
	padding: 0 0 10px 0;
	margin: 5px 0;
}
#breadcrumbs li {
	float: left;
}
#breadcrumbs a {
	margin: 0 10px;
}
.art-actions  {
	list-style-type: none;
}
.art-actions li {
	float: left;
	list-style:none;
	padding: 0 0 0 12px;
}
/* Fonts */
#breadcrumbs {
	font-size: 12px;
}
h1 {
	font-size: 18px;
}
#pic-caption {
	font-size: 12px;
	color: #666666;
	text-align: right;
}
#pic-zoom {
	font-size: 13px;
	text-transform: uppercase;
}
#pic-desc {
	font-size: 13px;
}
#art-pubdata {
	font-size: 12px;
}
.art-author a {
	font-size: 13px;
	font-weight: bold;
}
.art-actions  {
	font-size: 12px;
}
.art-actions  a {
	color: #000;
}